<a href="{{location}}" target="_blank">
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{title}}</mat-card-title>
    <mat-card-subtitle><div class="subtitle">
      <span>{{site}} / {{brand}}</span>
      <span class="price">{{price}} DT</span>
    </div></mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{imageUrl}}" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      {{description}}
    </p>
  </mat-card-content>
<!--  <mat-card-actions>-->
<!--    <button mat-button>LIKE</button>-->
<!--    <button mat-button>SHARE</button>-->
<!--  </mat-card-actions>-->
</mat-card>
</a>
